CI:
  POLICY_NAME: "CI"
  NOBUILD: "true"
  NOUMBRELLAPUBLISH: "true"
  VAULT_KEYS_TO_INJECT: "ARTIFACTORY_USER,ARTIFACTORY_KEY"
  NOHELMCHART: "true"
  SONARQUBE_VERSION: "v1.0.6"
  PREFIX: "deid"
CIVALIDATE:
  VAULT_KEYS_TO_INJECT: "GIT_APPROVAL_API_KEY,FUNCTIONAL_ID_ARTIFACTORY_USER,FUNCTIONAL_ID_ARTIFACTORY_KEY,FUNCTIONAL_ID_API_KEY,DVR_ARTIFACTORY_USER,DVR_ARTIFACTORY_KEY,DEVELOPER_VERSION,ARTIFACTORY_USER,ARTIFACTORY_KEY,DEID_ENDPOINT_SERVICE_NAME,ARTIFACTORY_URL,ARTIFACTORY_API_KEY"
  POLICY_NAME: "CIVALIDATE"
  NOBUILD: "true"
  NOUMBRELLAPUBLISH: "true"
  NOHELMCHART: "true"
  NOPIPELINECFGPUBLISH: "true"
  BUILD_FILE: "./pom.xml"
  BUILD_OPTIONS: "-s./m2/settings.xml -Dmaven.repo.local=./m2/repository -B -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn"
CD: 
  POLICY_NAME: "CD"
  APP_NAME: "wh-deid"
CT: 
  POLICY_NAME: "CT"
STAGECD:
  POLICY_NAME: "STAGECD"
STAGECVV:
  POLICY_NAME: "STAGECVV"
PRODCD:
  POLICY_NAME: "PROCD"
PRODCGL:
  POLICY_NAME: "PRODCGL"
ASOC:
  ASOC_APP_NAME: "Watson Health Data De-Identification Opensource"
  KEY_ID: "05094258-2fb9-55d7-08db-2f6c4cd34fc4"
