CI:
  POLICY_NAME: "CI"
  NOBUILD: "true"
  NOUMBRELLAPUBLISH: "true"
  VAULT_KEYS_TO_INJECT: "ARTIFACTORY_USER,ARTIFACTORY_KEY"
  NOHELMCHART: "true"
  PREFIX: "deid"
  DISABLE_AUTO_BUILD: "true"  
  SONARQUBE_ENABLED: "false"  
CIVALIDATE:
  VAULT_KEYS_TO_INJECT: "ARTIFACTORY_USER,ARTIFACTORY_KEY,ARTIFACTORY_API_KEY,ARTIFACTORY_URL"
  POLICY_NAME: "CIVALIDATE"
  NOBUILD: "true"
  NOUMBRELLAPUBLISH: "true"
  NOHELMCHART: "true"
  NOPIPELINECFGPUBLISH: "true"
  BUILD_FILE: "./pom.xml"
  BUILD_OPTIONS: "-s./m2/settings.xml -Dmaven.repo.local=./m2/repository -B -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn"
CD: 
  POLICY_NAME: "CD"
  APP_NAME: "wh-deid"
CT: 
  POLICY_NAME: "CT"
STAGECD:
  POLICY_NAME: "STAGECD"
STAGECVV:
  POLICY_NAME: "STAGECVV"
PRODCD:
  POLICY_NAME: "PROCD"
PRODCGL:
  POLICY_NAME: "PRODCGL"
ASOC:
  ASOC_APP_NAME: "Watson Health Data De-Identification Opensource"
  KEY_ID: "05094258-2fb9-55d7-08db-2f6c4cd34fc4"
