/target/
/scripts/toolchain/create-headless-ci.sh
.classpath
.settings
.project
jfrog
bin
**/*.cpgz
.factorypath
.springBeans
testTarget
node_modules
package-lock.json
src/main/resources/static/
/src/main/resources/templates/dashboard.html
**/.DS_Store
deployment-script/*.jar
root.crt
logback-production.xml
